* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(34, 34, 34, 0.75);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

li {
    list-style: none;
}

html {
    color: rgba(34, 34, 34, 0.75);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wrapper {
    padding: 0 80px;
    max-width: 1152px;
    margin: 0 auto;
}


h1 {
    color: #313235;
    font-family: Nunito;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: #3E3F43;
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    color: #3E3F43;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

p {
    color: #000;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn {
    border: 0;
    display: inline-flex;
    padding: 14px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #DAA520;

    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

img {
    width: 100%;
}

.main {
    margin-top: 165px;
    margin-bottom: 80px;
}

.text-bold {
    color: #3E3F43;
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.active {
    border-bottom: 1px solid black;
}